/* fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@400;500;600;700&display=swap');

/* Montserrat with specific weights */
.montserrat-light {
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: 300; /* Lighter weight */
    font-style: normal;
  }
  
  .montserrat-medium {
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: 500; /* Medium weight, between regular and bold */
    font-style: normal;
  }

  .montserrat-semi-bold {
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: 600; /* Semi-bold weight, closer to bold */
    font-style: normal;
  }

  .montserrat-regular {
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: 400; /* Regular weight */
    font-style: normal;
  }
  
  .montserrat-bold {
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }
  
  /* Libre Baskerville styles */
  .libre-baskerville-regular {
    font-family: "Libre Baskerville", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-italic {
    font-family: "Libre Baskerville", system-ui;
    font-weight: 400;
    font-style: italic;
  }
  